* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-transform: none;
}

ol, ul {
    list-style-type: none;
}

/*Navbar Start*/
.navbar-light .navbar-nav .nav-link {
	font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    line-height: 94px;
    color: #fff;
    transition: all linear .3s;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #c7b299;
}

.navbar {
	padding: 0px 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    transition: all linear .3s;
}

.navbar-expand-md .navbar-nav .nav-link {
	padding-right: 15px;
	padding-left: 15px;
}

.navbar2{
    background:#111;
    animation: boom 1s;
}

.navbar-expand-md .navbar-nav .nav-link.active{
    color:#c7b299; 
}
.navbar-expand-md .navbar-nav .nav-link:focus {
    color: #fff;
}

@keyframes boom {
    from{top:-100px}
    to{top: 0}
}

/*Banner Start*/
#banner {
    background: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 380px;
    padding-bottom: 385px;
    position: relative;
}

#banner:after {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.banner-item { 
    position: relative;
    z-index: 2;
}

.banner-item h2{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 36px;
    color: #fff;
}

.banner-item h1{
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 52px;
    color: #fff;
    padding-bottom: 5px;
}

.banner-item p{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    line-height: 24px;
}

.button .btn {
    padding: 17px 37px;
    background: #998675;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
    transition: all linear .3s;
}

.button .btn:hover {
    text-decoration: none;
    background: #fff;
    color: #736357;
    border: 1px solid #736357;
}

/*About Start*/
#about {
    padding-top: 80px;
}

.about-text {
    color: #555;
    position: relative;
    padding-bottom: 30px;
    transition: all linear .3s;
}

.about-text:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 3px;
    background: #f1eee9;
    transition: all linear .3s;
}

.about-text i {
    font-size: 49px;
    padding-bottom: 23px;
}

.about-text h3 {
    font-family: 'Raleway';
    font-size: 22px;
    padding-bottom: 5px;
}

.about-text p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    color: #8c8c8c;
    line-height: 24px;
}

.about-text:hover {
    color: #c7b299;
}

.about-text:hover:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 3px;
    background: #c7b299;
}

/*Poftfolio Start*/
#portfolio {
    padding-top: 100px;
    padding-bottom: 80px;
}

.heading h1 {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 30px;
    color: #555;
}

.heading p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    color: #8c8c8c;
    line-height: 28px;
}

.all-buttons button {
    padding: .375rem 25px;
    margin-left: 10px;
    margin-bottom: 40px;
}

.all-buttons button a {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    color: #fff;
}

.btn-outline-secondary:hover {
	color: #fff;
	background-color: #998675;
	border-color: #ebebeb;
}

.port-img {
    position: relative;
}

.p-overlay {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #111111;
    opacity: 0;
    transition: all linear .3s;
}

.port-img:hover .p-overlay{
    opacity: 0.7;
}

.icons {
    position: relative;
    top: 35%;
    left: 50%;
    transform: translateY(-35%);
    transform: translateX(-50%);
}

.icons .fa-link{
    font-size: 26px;
    color: #c7b299;
    padding-right: 10px;
}

.icons .fa-search{
    font-size: 26px;
    color: #fff;
}

.port-info {
    background: #fbfaf8;
    position: relative;
    z-index: 3;
}

.port-img:hover .port-info{
    background: #362f2d;
}

.port-info h3 {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 20px;
    color: #c7b299;
    padding-top: 30px;
    padding-left: 30px;
}

.port-img:hover .port-info h3{
    color: #fff;
}

.port-info p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    color: #d1d1d1;
    padding-bottom: 30px;
    padding-left: 30px;
}

.port-img:hover .port-info p{
    color: #c7b299;
}

.port-btn {
    margin-top: 20px;
}

.port-btn .btn a{
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 14px;
    padding: 13px 47px;
    background: #998675;
    color: #fff;
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
}
.port-btn .btn a:hover{
    border: 1px solid #736357;
    background: #fff;
    color: #998675;
    border: 1px solid #52463d;
}

/*Video Start*/
#video {
    background: url(../images/video.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 210px;
    padding-bottom: 250px;
    position: relative;
}

#video:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.7);
    left: 0;
    top: 0;
}

.vdo {
    position: relative;
    z-index: 4;
}


.vdo h2 {
    padding-top: 44px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 30px;
    color: #fff;
}

.vdo p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    line-height: 28px;
}

.round {
    width: 72px;
    height: 72px;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    position: relative;
}

.round:after {
    position: absolute;
    content: '';
    border-radius: 50%;
    width: 85%;
    height: 85%;
    border: 3px solid #fff;
    top: 7%;
    left: 8%;
}

.round i{
    font-size: 35px;
    padding-left: 7px;
    padding-top: 20px;
    color: #fff;
}

.round i:hover{
    opacity: 1;
}


/*Coounter Start*/
#counter {
    padding-top: 72px;
    padding-bottom: 90px;
    background-image: linear-gradient(to right, #211b19 , #4e3427);
}

.counter-item i {
    font-size: 48px;
    color: #c7b299;
}

.counter-item h1 {
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 48x;
    color: #fff;
}

.counter-item p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14x;
    color: #c7b299;
    text-transform: uppercase;
}

/*Post Start*/
#post {
    padding-top: 90px;
    padding-bottom: 90px;
}

.post-img {
    position: relative;
}

.post-overlay {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #111111;
    opacity: 0;
    transition: all linear .3s;
}

.post-img:hover .post-overlay{
    opacity: 0.7;
}

.post-info {
    background: #fbfaf8;
    position: relative;
    padding-bottom: 30px;
    z-index: 3;
}

.post-icon {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translateY(-25%);
    transform: translateX(-50%);
}

.post-icon .fa-search{
    font-size: 26px;
    color: #fff;
}

.post-img:hover .post-info{
    background: #362f2d;
}

.post-info h3 {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 20px;
    color: #555555;
    padding-top: 30px;
    padding-left: 30px;
}

.post-img:hover .post-info h3{
    color: #c7b299;
}

.post-info p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    color: #8c8c8c;
    padding-left: 30px;
}

.post-img:hover .post-info p{
    color: #fff;
}

.post-info a {
    padding-bottom: 30px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    color: #8c8c8c;
    padding-left: 30px;
    text-decoration: none;
}

.post-img:hover .post-info a {
    color: #c7b299;
}

.block {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 60px;
    background: #363636;
    border-radius: 5%;
    z-index: 6;
}

.block h2 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size:  24px;
    color: #fff;
    text-align: center;
}
.block p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size:  12px;
    color: #fff;
    text-align: center;
    line-height: 25px;
    background: #252525;
}
.post-img:hover .block {
    background: #c7b299;
}

.post-img:hover .block p{
    line-height: 25px;
    background: #a48d72;
}


/*Footer Start*/
#footer {
    background: #191919;
    padding-top: 81px;
    padding-bottom: 84px;
}

.logo img {
    padding-bottom: 25px;
}

.footer-item h4 {
    padding-top: 15px;
    padding-bottom: 22px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.footer-item span{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    display: inline-block;

}

.footer-item span:hover {
    color: #c7b299;
}

.footer-item a {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #d1d1d1;
}

.footer-item p{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: #555555;
    margin-bottom: 0px;
}

.footer-item p a{
    color: #555555;
}
.footer-item p a:hover{
    color: #00bff3;
}

.footer-item p:hover {
    color: #c7b299;
}

.footer-item b {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    color: #7b7979;
}    

.footer-item b:hover {
    color: #fff;
}    

hr {
    background: #454242;
}

.dibble-img {
    padding-bottom: 10px ;
}

/*Copyright Start*/
#copyright {
    background: #111111;
    padding-top: 42px;
    padding-bottom: 42px;
}

.left b{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    color: #555;
    padding-right: 10px;
}

.left a {
    color: #c7b299;
}

.right b{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    color: #555;
    padding-left: 10px;
}

.right {
    text-align: right;
}

.right a {
    color: #959595;
}


/*Back to top Start*/
.back-to-top i {
    width: 40px;
    height: 40px;
    background: red;
    font-size: 20px;
    color: #fff;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.back-to-top i {
    width: 40px;
    height: 40px;
    background: #2f2c2c;
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: all linear .3s;
}

.back-to-top i:hover {
    background: #C7B299;
    color: #2f2c2c;

}
